<div class="row">
  
  <h1>練習日誌</h1>
  
  <div class="mt-1">
    <ul class="nav nav-tabs mb-3">
      <li class="nav-item"><a href="<%= toppages_path %>" class="nav-link">プロフィール</a></li>
      <li class="nav-item"><a href="<%= records_path %>" class="nav-link active">練習日誌</a></li>
      <li class="nav-item"><a href="<%= plans_path %>" class="nav-link">練習計画</a></li>
    </ul>
  </div> 

<div class="calendar">
  <%= month_calendar events: @records do |date, records| %>
    
    <%= date.day %>
  　
  　<% records.each do |record| %>
      <div class="title-in-calendar">
        <%= link_to record.train, record, class: "link-in-calendar" %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="input-record mb-3">
  <div class="card">
    <div class="card-header text-center">
      <h4>練習内容</h4>
    </div>
     <div class="text-danger mt-1">
       &nbsp;*　同じ日付で2回以上作成しないで下さい。<br>
          　&nbsp;&nbsp;追加や修正したい場合は編集から行って下さい。
     </div>
    <div class="card-body p-2">
    <%= form_with(model: @record, local: true) do |form| %>
      <div class="title mt-1 mb-2">
        <div class="form-tag">練習メニュー</div>
        <%= form.text_area :train, class: 'w-100', placeholder: text_placeholder %>
      </div>
      
      <div class="setting mb-2">
        <div class="form-tag">結果(タイム)</div>
        <%= form.text_area :result, class: 'w-100' %>
      </div>
      
      <div class="ditail mb-2">
        <div class="form-tag">感想</div>
        <%= form.text_area :review, class: 'w-100' %>
      </div>
    
      <div class="time mb-3">
        <div class="form-tag">時間</div>
        <%= form.datetime_select :start_time %>
      </div>
    
     <div class="submit mt-2 mb-2">
        <%= form.submit '作成', class: 'btn btn-warning w-100'  %>
     </div>
    <% end %>
    </div>
  </div>
</div>

<div class="menu-record">
  <%= week_calendar events: @records do |date, records| %>
  
      <div class="week-day align-middle">
       <% weeks = ["日","月","火","水","木","金","土"]%>
       <% week = weeks[date.wday]%> 
       <%= date.month %>/<%= date.day %>(<%= week %>)
      </div>
        
  　<% records.each do |record| %>
    　<td class="record-td-text align-middle"><%= record.train %></td>
      <td class="record-td-text align-middle"><%= record.result %></td>
      <td class="align-middle"><%= link_to '詳細', record_path(record), class: 'record-td btn btn-primary btn-sm' %></td>
      <td class="align-middle"><%= link_to '編集', edit_record_path(record), class: 'record-td btn btn-success btn-sm' %></td>
      <td class="align-middle"><%= link_to '削除', record_path(record), method: :delete, data: { confirm: "本当に削除しますか?" }, class: 'record-td btn btn-danger btn-sm' %></td>
    <% end %>
    
  <% end %>
</div>



