<div class="show">
  
 <h1 class="text-center mb-4"><%= @record.start_time.strftime("%m月%d日") %>の練習内容</h1>

  <table class="table table-bordered">
    <tbody>
      <tr class="bg-light">
        <td class="show-td1">日付</td>
        <td><%= @record.start_time.strftime("%Y年%m月%d日") %></td>
      </tr>
      <tr>
        <td class="show-td1 align-middle">メニュー</td>
        <td class="show-td2"><%= safe_join(@record.train.split("\n"),tag(:br)) %></td>
      </tr>
      <tr>
        <td class="show-td1 align-middle">結果</td>
        <td class="show-td2"><%= safe_join(@record.result.split("\n"),tag(:br)) %></td>
      </tr>
      <tr>    
        <td class="show-td1 align-middle">感想</td>
        <td class="show-td2"><%= safe_join(@record.review.split("\n"),tag(:br)) %></td>
      </tr>
    </tbody>
  </table>

  <%= link_to '編集', edit_record_path(@record), class: 'btn btn-success' %>
  <%= link_to '消去', record_path(@record.id), method: :delete, data: { confirm: '本当に?' }, class: 'btn btn-danger' %>
  <%= link_to '戻る', records_path, class: 'btn btn-primary' %>
</div>