<div class="container">
<h1 class="mt-4 pb-4 border-bottom"><%= @project.pday %>　の練習計画編集</h1>

<%= form_with(model: @project) do |f| %>
  <div class="mt-4 row">
    <div class="col-sm-2">
      <%= f.label :plan, '練習計画：', class: 'control-label' %>
    </div>
    <div class="col-sm-10">
      <%= f.text_area :plan, class: 'form-control' %>
    </div>
  </div>
  
  <div class="mt-4 mb-4 offset-sm-2 col-sm-10">
    <%= f.submit '編集完了', class: 'btn w-100 btn-success' %>
  </div>
<% end %>

<%= link_to '練習計画一覧に戻る', projects_path %>
</div>