<h1>id: <%= @project.id %>　の練習計画詳細ページ</h1>


<p><%= @project.plan %></p>

<%= link_to '練習計画一覧ページに戻る', projects_path %>
<%= link_to 'この練習計画を編集する', edit_project_path(@project) %>
<%= link_to 'このメッセージを削除する', @project, method: :delete, data: { confirm: '本当に削除してよろしいですか？'} %>
