<div class="simple-calendar">
  
     <!--<% date_range.slice(0, 1).each do |day| %> <% end %>-->
  <table class="table table-bordered mt-0">
     
      <%= link_to t('simple_calendar.previous', default: '前週'), calendar.url_for_previous_view %>
    <!--<% if calendar.number_of_weeks == 1 %>-->
    <!--  <span class="calendar-title"><%= t('simple_calendar.week', default: 'Week') %> <%= calendar.week_number %></span>-->
    <!--<% else %>-->
    <!--  <span class="calendar-title"><%= t('simple_calendar.week', default: 'Week') %> <%= calendar.week_number %> - <%= calendar.end_week %></span>-->
    <!--<% end %>-->
     ～1週間のメニュ一覧～
    <%= link_to t('simple_calendar.next', default: '次週'), calendar.url_for_next_view %>
      <tr>
        <th>日程</th>
        <th>練習メニュー</th>
        <th>結果</th>
        <th>詳細</th>
        <th>編集</th>
        <th>削除</th>
      </tr>
    
      <tr>
  　　<% date_range.each_slice(7) do |week| %>
  　     <% week.each do |day| %>
  　　      <%= content_tag :td, class: calendar.td_classes_for(day) do %>
        　　<% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
              <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
            <% else %>
              <% passed_block.call day, sorted_events.fetch(day, []) %>
            <% end %>
          <% end %>
      </tr>          
        <% end %>
      <% end %>
　</table>
　
　
    
  
　
</div>