<div class="show">

 <h1 class="text-center mb-4"><%= @plan.start_time.strftime("%m月%d日") %>の練習計画</h1>

  <table class="table table-bordered">
    <tbody>
      <tr class="bg-light">
        <td class="show-td1">日付</td>
        <td><%= @plan.start_time.strftime("%Y年%m月%d日") %></td>
      </tr>
      <tr>
        <td class="show-td1 align-middle">メニュー</td>
        <td class="show-td2"><%= safe_join(@plan.menu.split("\n"),tag(:br)) %></td>
      </tr>
      <tr>
        <td class="show-td1 align-middle">設定<br>タイム</td>
        <td class="show-td2"><%= safe_join(@plan.time.split("\n"),tag(:br)) %></td>
      </tr>
      <tr>
        <td class="show-td1 align-middle">目的</td>
        <td class="show-td2"><%= safe_join(@plan.detail.split("\n"),tag(:br)) %></td>
      </tr>  
    </tbody>
  </table>

  <%= link_to '編集', edit_plan_path(@plan), class: 'btn btn-success' %>
  <%= link_to '消去',plan_path(@plan.id), method: :delete, data: { confirm: '本当に?' }, class: 'btn btn-danger' %>
  <%= link_to '戻る', plans_path, class: 'btn btn-primary' %>
</div>